@charset "UTF-8";
/* CSS Document */

body {
	//transform: scale(1);
	//transform-origin: 0px;
	margin:0px;
	overflow:hidden;
}


#DivCanvas {
	position:absolute;
	width:1920px;
	height:960px;
	z-index:1;
	left: 0px;
	top: 100px;	
	background-image: url("images/equirettangolare.jpg");
	//border: 1px solid #0000FF; 
	//visibility:hidden;
}

#DivCanvasMe {
	position:absolute;
	width:1158px;
	height:980px;
	z-index:1;
	left: 381px;
	top: 100px;	
	background-image: url("images/mercatore.jpg");
	//border: 1px solid #FF00FF; 
	visibility:hidden;
}

#DivCanvasAzi {
	position:absolute;
	width:980px;
	height:980px;
	z-index:1;
	left: 470px;
	top: 100px;	
	background-image: url("images/azimutale.jpg");
	//border: 1px solid #FF00FF; 
	visibility:hidden;
}

#DivCanvasFul {
	position:absolute;
	width:1308px;
	height:980px;
	z-index:1;
	left: 306px;
	top: 100px;	
	background-image: url("images/fullercube.jpg");
	//border: 1px solid #FF00FF; 
	visibility:hidden;
}

#DivCanvasSin {
	position:absolute;
	width:1920px;
	height:962px;
	z-index:1;
	left: 00px;
	top: 100px;	
	background-image: url("images/sinusoidale.jpg");
	//border: 1px solid #FF00FF; 
	visibility:hidden;
}

#TestPulsante0 {
	visibility:hidden;
}

#TestPulsante1 {
	visibility:hidden;
}

#DivCanvasGP {
	position:absolute;
	width:1528px;
	height:980px;
	z-index:1;
	left: 196px;
	top: 100px;	
	background-image: url("images/gallpeters.jpg");
	//border: 1px solid #FF00FF; 
	visibility:hidden;
}

#DivOpzioni {
	position:absolute;
	width:600px;
	height:400px;
	z-index:30;
	left: 0px;
	top: 401px;	
	background-color:rgba(255,255,255,0.5);
	border: 1px solid #FF0000; 
}

#SfondoTitolo {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:100px;
	//text-align:center;
	z-index:10;
	//background-image: url(images/sfondo2.jpg);
	//color: #479575;
}


.DivTestoPoster {
	position:absolute;
	width:800px;
	height700px;
	z-index:2;
	left: 400px;
	top: 142px;
	background-color:rgba(255,255,255,0);
	font-size: 50px;
	overflow: scroll;
	font-family: Optima;
}

.DivMenuSinistra {
	position:absolute;
	z-index:0;
	width:350px;
	height:600px;
	top:0px;
	left:0px;
	font-size: 11px;
	background-color:rgba(255,255,255,0);
	font-family: Optima, Verdana;
	visibility:hidden;	
}


#SplashScreen0 {
	position:absolute;
	width:1920px;
	height:980px;
	z-index:5;
	left: 0px;
	top: 100px;
	background-color: rgba(255,255,255,0.5);
	visibility:visible;	
}
#SplashScreenBG {
	position:absolute;
	width:1920px;
	height:1080px;
	z-index:-2;
	left: 0px;
	top: 0px;
	background-image: url(images/sfondo3.jpg);
	visibility:visible;	
}

#SplashScreenFuller { 
  position:absolute; 
  width:1920px; 
  height:980px; 
  z-index:4; 
  left: 0px; 
  top: 100px; 
  background-image: url(images/sfondo_fuller.png); 
  visibility:hidden;     
} 


#SplashScreen1 {
	position:absolute;
	width:800px;
	height:450px;
	z-index:11;
	top:240px;
    left:560px;
	background-image: url(images/sfondo1.jpg);
	font-size: 32px;
	text-align: center;
	visibility:hidden;
	border:solid;
	border-color:#af9c72;
	padding:0px;
	visibility:hidden;
}

section {
    width: 100%;
    height: 200px;
    margin: auto;
}
#one {
    width: 45%;
    height: 200px;
    float: left;
	border:solid;
	border-color:#FF0000;
	border-width:7px;
}
#two {
    margin-left: 55%;
    height:200px;
	border:solid;	
	border-color:rgba(255,0,0,1);
	border-width:7px;
}


#DivFrecciaSx {
	position:absolute;
	z-index:12;
	top:170px;
    left:50px;
}

#DivFrecciaDx {
	position:absolute;
	z-index:12;
	top:170px;
    right:50px;
}

#SplashScreen2 {
	position:absolute;
	width:800px;
	height:450px;
	z-index:11;
	top:240px;
    left:560px;
	background-image: url(images/sfondo1.jpg);
	font-size: 32px;
	text-align: center;
	visibility:hidden;
	border:solid;
	border-color:#af9c72;
	padding:00px;
	visibility:hidden;
}

#SplashScreen3 {
	position:absolute;
	width:800px;
	height:450px;
	z-index:11;
	top:240px;
    left:560px;
	background-image: url(images/sfondo1.jpg);
	font-size: 32px;
	text-align: center;
	visibility:hidden;
	border:solid;
	border-color:#af9c72;
	padding:0px;
	visibility:hidden;
}

.DivGuida {
	position:absolute;
	width:900px;
	height:450px;
	z-index:11;
	top:240px;
    left:510px;
	background-image: url(images/sfondo1.jpg);
	font-size: 23px;
	text-align: center;
	visibility:hidden;
	border:solid;
	border-color:#af9c72;
	padding:0px;
}

#Carica {
	position:absolute;
	width:1920px;
	height:1080px;
	top:0px;
    left:0px;
	font-size: 24px;
	text-align: center;
	background:#a1f4d6;
	z-index:100;
	visibility:visible;
}

#DebugScreen {
	position:absolute;
	width:800px;
	height:450px;
	z-index:11;
	top:240px;
	left:560px;
	font-size: 24px;
	text-align: center;
	visibility:visible;
	border:solid;
	border-color:#af9c72;
	padding:0px;
	background-image: url(images/sfondo1.jpg);
	visibility:hidden;

}

#DebugScreen2 {
	position:absolute;
	width:800px;
	height:450px;
	z-index:11;
	top:240px;
	left:560px;
	font-size: 24px;
	text-align: center;
	visibility:hidden;
	border:solid;
	border-color:#af9c72;
	padding:0px;
	background-image: url(images/sfondo1.jpg);
	visibility:hidden;

}

#Timer {
	position:absolute;
	width:350px;
	height:70px;
	z-index:11;
	top:29px;
	left:1355px;
	font-size: 40px;
	text-align: center;
	color:#00F;
	visibility:hidden;
}

#CBM {
	position:absolute;
	width:360px;
	height:60px;
	vertical-align: middle;
	line-height:60px;
    text-align: center;
	z-index:11;
	top:20px;
	left:1005px;
	border:solid;
	border-color:#00f;
	font-size: 30px;
	text-align: center;
	color:#00F;
	visibility:hidden;
}

#Langua {
	position:absolute;
	width:64px;
	height:64px;
	z-index:11;
	top:25px;
	left:1800px;
	font-size: 40px;
	text-align: center;
	color:#00F;
}